@media all and (max-width: 1000px){
  .last-panel li {
    font-size: 1.8vw;
  }

  .last-panel-left{
    margin-top: 3%;
  }
}

@media all and (max-width: 680px) {

  .panel {
    display: none;
  }

  #menu-icon {
    display: block;
  }

  .message-top {
    padding-top: 25%;
  }

  .message1-text , .message2-text {
    width: 100%;
  }

  .message2-img {
    width: 100%;
    margin-bottom: 18%;
  }

  .last-panel li {
    width: 100%;
    font-size: 14px;
  }
}
