* {
  box-sizing: border-box;
}

li, h1, h2, h3, h4, h5, h6, form, html, p, input, div, body, ul, ol {
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: both;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  float: left;
}

.panel {
  float: right;
}

#menu-icon {
  position: absolute;
  top: 30%;
  right: 8%;
  color: white;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

#menu-cancel{
  position: absolute;
  color: white;
  top: 30%;
  right: 8%;
  font-size: 30px;
  cursor: pointer;
  display:none;
}

.panel-list {
  list-style: none;
}

.panel-list li {
  display: inline-block;
  padding: 0 25px;
  cursor: pointer;
}

.panel-list li a {
  line-height: 65px;
  color: #fff;
  display: block;
}

.panel-list li:hover {
  background-color: rgba(255,255,255,0.5);
}

.menu-nav {
  position: fixed;
  top: 65px;
  background-color: rgba(34, 49, 52, 0.9);
  z-index: 100;
  width: 100%;
  display: none;
}

.menu-nav li {
  padding: 14px 6%;
}

.menu-nav a, .menu-nav span{
  color: white;
  cursor: pointer;
}

.menu-nav li a {
  display: block;
}

.menu-nav i {
  display: block;
  color: white;
  float: right;
  cursor: pointer;
}

.member-top {
  padding: 12% 5% 3% 5%;
  border-bottom: 1px solid #c3c9c3;
}

.member-top h1 {
  font-size: 38px;
}

.member-list {
  padding-bottom: 15%;
  border-bottom: 1px solid #c3c9c3;
}

.member1 {
  margin-top: 10%;
}

.member1-img {
  float: left;
  text-align: center;
  width: 400px;
  height: 400px;
}

.member1-bg {
  background-image: url("../img/IMG_2286.jpg");
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
  display: inline-block;
  zoom:0.5;
  background-size: cover;
}

#ogi {
  background-image: url("../img/S__24322052.jpg");
}
#hase {
  background-image: url("../img/IMG_5128 2.JPG");
  background-position: initial;
}

.member1-img p{
  padding-top: 5%;
}

.member1-text {
  display: inline-block;
  font-size: 18px;
  padding-top: 8%;
  padding-left: 4%;
  float: right;
  width: 50%;
  line-height: 2em;
}

footer {
  background-color: rgba(34, 49, 52, 0.9);
  padding-bottom: 50px;
}

.last-panel {
  list-style: none;
  color: white;
  padding-top: 5%;
  padding-left: 10%;
}

.last-panel li {
  font-size: 20px;
  width: 50%;
  display: inline-block;
  float: left;
}

.last-panel dt , .last-panel dd {
  margin-bottom: 20px;
}

.last-panel dt {
  float: left;
  clear: left;
  margin-right: 0.5em;
  width: 30%;
  text-align: right;
}

.last-panel dd {
  float: left;
  margin-left: 1em;
  width: 50%;
}

.last-panel-left {
  padding-right: 10%;
}

#map {
  position: relative;
  width: 100%;
  padding-top: 75%;
}

#map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
